.heading{
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.about_me_left{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size:15px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
    color:rgba(255, 255, 255, 0.8);
    width:50%;
}
.about_me_right{
    width:40%;
}
.about_me_info{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}
.about_me{
  
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    align-items: center;
}
@media screen and (max-width: 800px){
    .heading{
        font-weight: 300;
        font-size: 22px;
    
    }
    .about_me_left{
        font-weight: 300;
    font-size:10px;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 80%;
    line-height: 1.6;
    }
 
}
